
a:hover {
    text-decoration: none;
}

.tag_DV {
    max-width: 100%;
    overflow: hidden;
    border-radius: 3px;
    color: #20C5E5 !important;
    white-space: nowrap;
    margin: 0 7px 7px 0;
    display: inline-block;
    word-break: break-all;
    text-overflow: ellipsis;
    padding: 4px 10px 4px 10px;
    border: 1px solid #64D9F4;
    background-color: #D3F4FB;
    text-align: center;
}
.danhsach{
    margin-left: -40px;
}
.tag_number {
    max-width: 100%;
    overflow: hidden;
    border-radius: 2em;
    background: rgba(73, 80, 101, 0.05);
    color: rgb(73, 80, 101);
    white-space: nowrap;
    margin: 0 7px 7px 0;
    display: inline-block;
    word-break: break-all;
    text-overflow: ellipsis;
    padding: 4px 10px 4px 10px;
   
}