@using WebApi.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card-title:hover a {
        text-decoration: none;
    }
</style>
<header>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active">
                <img src="~/img/home-header-bg-client.jpg"
                     class="d-block w-100 img-header" alt="...">
            </div>
        </div>
        <div class="carousel-caption d-none d-md-block input-find">
            <h3>
                Bao quanh bạn với các cơ quan tốt nhất,
                Từ thiết kế web đến các chiến dịch quảng cáo, chúng tôi hướng dẫn bạn đến các cơ quan tiếp thị phù hợp.
            </h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control input_css" placeholder="Tìm nhà cung cấp..." id="form-find">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="Find"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <h4>Miễn phí 100% - Tư ván từ các nhà cung cấp sẵn sàng cộng tác với bạn.</h4>
        </div>

        <!-- Slide Two - Set the background image for this slide in the line below -->
    </div>
</header>

<div class="container">
    <h1 class="my-4 text-center">DỊCH VỤ - SẢN PHẨM TRONG NGÀNH SỰ KIỆN</h1>
    <br>
    <div class="row">

        @{
            CategoryApiController api = new CategoryApiController();
            foreach (var category in api.Get().ToList())
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="/Cate_Info/Info/@category.IDCATE"><img class="card-img-top" src="~/img/category/@category.IMGCATE" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Cate_Info/Info/@category.IDCATE">@category.NAMECATE</a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/img/category/others.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Khác</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<section class="container section_home">
    <div class="container s-center">
        <h2 class="md-display-3 s-primary-hue-4 s-bold">Khởi động dự án của bạn ngày hôm nay!</h2>
        <p class="md-display-1 text-center">Làm thế nào chúng tôi hướng dẫn bạn đến đúng đại lý tổ chức sự kiện.</p>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center animation">
                    <div class="card-number">1</div>
                    <div class="cover">
                        <img class="lazy load" src="~/img/define-your-needs.png" style="width: 150px; margin-top: 40px;" />
                        <div class="card-body">
                            <br /> <br />
                            <h4 class="card-title">Xác định nhu cầu của bạn</h4>
                            <p class="card-text">
                                Chúng tôi giúp bạn tìm những từ thích hợp để mô tả nhu cầu của bạn bằng cách hỏi bạn những câu hỏi phù
                                hợp.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center animation">
                    <div class="card-number">2</div>
                    <img class="card-img-top" src="~/img/get-introduced.png" style="width: 150px; margin-top: 40px; margin-left:100px;">
                    <div class="card-body">
                        <br /> <br />
                        <h4 class="card-title">Được giới thiệu</h4>
                        <p class="card-text">Chúng tôi giới thiệu bạn với các đại lý có liên quan đến dự án của bạn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center animation">
                    <div class="card-number">3</div>
                    <img class="card-img-top" src="~/img/hire-your-agency.png" style="width: 150px; margin-top: 40px; margin-left:100px;">
                    <div class="card-body">
                        <br /> <br />  <br /> <br />
                        <h4 class="card-title">Thuê đại lý của bạn</h4>
                        <p class="card-text ">
                            Bạn tương tác trên hoặc ngoại tuyến. Bạn so sánh và thuê đại lý mới của bạn khi bạn đã sẵn sàng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end- section-->

<section class="container section_home">
    <div class="container s-center">
        <h4 class="md-display-3 s-primary-hue-4 s-bold">Các đại lý được chọn nhiều nhất</h4>
        <p class="md-title s-primary-hue-3 text-center">
            Những cái tốt nhất, nhưng không nhất thiết là những cái lớn nhất.
        </p>
    </div>
</section>
<!-- Footer -->
<footer class="py-5 bg-white">
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <div id="contact-left">
                    <h3>SortList</h3>
                    <br />
                    <p>
                        Chúng tôi là một đối tác độc lập, người biết bối cảnh cạnh tranh của các cơ quan <strong>Tiếp thị</strong> & Quảng cáo.
                        Hãy cho chúng tôi biết nhu cầu của bạn và chúng tôi sẽ cho bạn biết các cơ quan bạn phải đáp ứng.
                    </p>
                    @*<div id="contact-info">
                            <address>
                                <strong>SortList</strong>
                                <br /><br />
                                <p>Về chúng tôi</p>
                                <p>Công việc</p>
                                <p>Liên hệ</p>
                            </address>
                            <div id="phone-email">
                                <p>
                                    <strong>Số điện thoại</strong>
                                    <span>0339895154</span>
                                </p>
                            </div>
                        </div>*@

                    <ul class="social-list">
                        <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="#" class="social-icon"><i class="fa fa-youtube"></i></a></li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div id="contact-right">
                    <h3>Liên hệ với chúng tôi</h3>
                    <br />
                    <form>
                        <input type="text" name="full-name" class="form-control" placeholder="tên của bạn" />
                        <input type="email" name="email" class="form-control" placeholder="email của bạn" />
                        <textarea name="message" cols="30" row="5" class="form-control"></textarea>
                        <div id="send-btn">
                            <button href="#" class="btn btn-primary" type="button">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            <p class="m-0 text-center text-dark">Dev by Anh Minh &copy; 2019 Đồ án chuyên ngành</p>
        </div>
    </div>
    <!-- /.container -->
</footer>
