
@{
    Layout = null;
}
<link href="~/img/logo-sl.png" rel="shortcut icon" type="image/x-icon" />
<link href="~/Content/all.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/login.css" rel="stylesheet" />
<style>
    .layout{
        margin-top: 200px;
    }
</style>
<div class="container layout">
    <div class="row">
        <div class="col-lg-5">
            <div class="content">
                <div class="container layout-login">
                    <div class="login">Đăng nhập</div>
                    <div class="signup">Đăng Ký</div>
                    <!--form login-->

                    <div class="login-form">
                        <form method="post" action="/Login/SignIn">
                            @if (!String.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            }
                            <input type="text" placeholder="Nhập tên đăng nhập" name="USERNAME" class="input"><br>
                            <input type="password" placeholder="Nhập mật khẩu" name="PASSWORD" class="input"><br>
                            <input id="login" class="btn btn-primary btn-login" type="submit" value="Đăng Nhập">
                        </form>
                    </div>

                    <form method="post" action="/Login/SignIn">
                        <!--form sign-->
                        <div class="signup-form">
                            @if (!String.IsNullOrEmpty(ViewBag.Error))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                                <div class="toast">
                                    <div class="toast-header">
                                        <img src="//s3-eu-west-1.amazonaws.com/magicagencies/externals/logo-sl-square.svg">
                                    </div>
                                    <div class="toast-body">
                                        <p>Đăng nhập không thành công</p>
                                    </div>
                                </div>
                            }
                            <input type="text" placeholder="Họ và Tên" name="hoten" class="input" id="hoten" />
                            <input type="text" placeholder="Tên Đăng Nhập" name="tendn" class="input" id="tendn"><br>
                            <input type="password" placeholder="Mật khẩu" name="matkhau" class="input" id="matkhau"><br>
                            <input class="btn btn-primary btn-signin" type="submit" id="dangky" value="Đăng ký">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div id="s-auth-title">
                <img src="//s3-eu-west-1.amazonaws.com/magicagencies/externals/logo-sl-square.svg">
                <div id="s-auth-title-text"><h1><b>Log in</b> to your account to continue!</h1><p>Everything you do on Sortlist is linked to your account.</p></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/login-form.js"></script>