@model WebApi.COMMENT

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/admin.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<h2>Danh sách danh mục</h2>

<div class="panel_service">
    <div class="btn_table">
        <div class="text-right">
            <button type="button" class="btn btn-default btn-block btn-lg" onclick="CreateCategory()"><i class="fas fa-plus"></i> Tạo danh mục</button>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Tên danh mục</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (DOANCHUYENNGANHEntities db = new DOANCHUYENNGANHEntities())
                {


                    foreach (var item in db.CATEGORies.ToList())
                    {
                        <tr>
                            <td>@item.NAMECATE</td>
                            <th>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" onclick="EditCategory(@item.IDCATE)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger" onclick="DeleteCategory(@item.IDCATE)"><i class="fa fa-trash"></i></button>
                                </div>
                            </th>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div id="create-category-model" class="modal fade create-category-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin danh mục</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Tên Danh Mục</label>
                        <input type="text" class="form-control" name="NAME">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Hình ảnh</label>
                        <input type="text" class="form-control" name="md-name">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    var idCategory = 0;

    function EditCategory(id) {
        idCategory = id;

        $.ajax({
            url: '/Ajax/GetCategory/' + idCategory,
            type: 'POST',
            dataType: 'text',
            data: {
                id: idCategory,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("[name='NAME']").val(json.NAME);
            $('#create-category-model').modal("show");
        });
    }

    function DeleteCategory(id) {
        if (!confirm("Bạn có thực sự muốn xóa danh mục này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteCategory/' + id,
            type: 'DELETE',
            dataType: 'text'
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function CreateCategory() {
        idCategory = 0;
        $("[name='NAME']").val("");
        $("#create-category-model").modal("show");
    }

    function SaveInfo() {
        var name = $("[name='NAME']").val();
        if (name == '') {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }


        $.ajax({
            url: '/Ajax/PostService',
            type: 'POST',
            dataType: 'text',
            data: {
                idCategoryS: idCategory,
                NAMESERVICES: name,
                SUMARYSERVICES: description,
                BEGIN_PRICE: giakd,
                MAX_PRICE: giamax
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }
</script>